.menu {
    width: 15%;
    height: 100vh;
}

ul {
    padding: unset;
    margin: unset;
}

li {
    list-style: none;
    padding: 60px 0px;
    font-size: 16px;
    letter-spacing: 0.3px;
    background-color: #EA5A4D;
}

li:hover a{
    text-decoration: underline;
}

a {
    color: #fff;
    text-align: center;
    display: block;
    text-decoration: unset;
}

.menu h1 {
    margin: unset;
    background-color: #CF9695;
    color: #fff;
    text-align: center;
    height: 80px;
    line-height: 80px;
}